.slider {
    margin-top: 3vh;
    width: 8vw;
    height: 20vw;
    background-color: #bddddd;
    border-radius: 14px 0 0 14px;
    &__list {
        width: 8vw;
        border-radius: 14px;
        height: 18vw;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1vh;
        margin-bottom: 2vh;
        height: 6vw;
        width: 6vw;
        border-radius: 14px;
        background-color: rgba(white, 0);

        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        &:hover {
            background-color: rgba(white, 0.25);
        }
        &-active {
            background-color: rgba(white, 0.5);
        }
    }
    &__footer {
        display: flex;
        flex-direction: row;
        height: 3.3vw;
    }
}
