@import "reset";
@import "button";
@import "preloader";
@import "header";
@import "main";
@import "features";
@import "slider";
@import "preview";
@import "media";

body {
    background-color: #dbeeee;
    letter-spacing: 0.055em;
}

.container {
    max-width: 96.25vw;
    margin: 0 auto;
    padding: 0 0.5vw;
}
