<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/styles.min.css">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<link href="http://fonts.cdnfonts.com/css/sf-compact-display?styles=16093,16092" rel="stylesheet">


<title>{{ title }}</title>

